<script lang="ts">
import { defineComponent, PropType } from 'vue';

enum ButtonVariant {
  default = 'default',
  confirm = 'confirm',
  success = 'success',
  warning = 'warning',
  danger = 'danger',
  info = 'info',
}

export default defineComponent({
  props: {
		variant: {
			type: String as PropType<ButtonVariant>,
			required: false,
			default: ButtonVariant.default,
		},
		autofocus: {
			type: Boolean,
			required: false,
			default: false,
		},
		disabled: {
			type: Boolean,
			required: false,
			default: false,
		},
	},
	computed: {
		hasIconOnly() {
			// TODO: check if default slot only contains one element and it is of type `GitLabIcon`
			return false;
    },
	}
});
</script>

<template>
  <button
		part="control"
		class="control"
		:class="{ 'icon-only': hasIconOnly }"
		:variant="variant"
		:autofocus="autofocus"
		:disabled="disabled"
  >
		<span class="start">
			<slot name="start"></slot>
		</span>
		<span class="content">
			<slot></slot>
		</span>
		<span class="end">
			<slot name="end"></slot>
		</span>
	</button>

	<!--
		TODO: should support binding all native Button element attributes: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#attributes
						
		autofocus="autofocus"
		disabled="disabled"
		form="formId"
		formaction="formaction"
		formenctype="formenctype"
		formmethod="formmethod"
		formnovalidate="formnovalidate"
		formtarget="formtarget"
		name="name"
		type="type"
		value="value"
		aria-atomic="ariaAtomic"
		aria-busy="ariaBusy"
		aria-controls="ariaControls"
		aria-current="ariaCurrent"
		aria-describedby="ariaDescribedby"
		aria-details="ariaDetails"
		aria-disabled="ariaDisabled"
		aria-errormessage="ariaErrormessage"
		aria-expanded="ariaExpanded"
		aria-flowto="ariaFlowto"
		aria-haspopup="ariaHaspopup"
		aria-hidden="ariaHidden"
		aria-invalid="ariaInvalid"
		aria-keyshortcuts="ariaKeyshortcuts"
		aria-label="ariaLabel"
		aria-labelledby="ariaLabelledby"
		aria-live="ariaLive"
		aria-owns="ariaOwns"
		aria-pressed="ariaPressed"
		aria-relevant="ariaRelevant"
		aria-roledescription="ariaRoledescription"
	-->
</template>

<style lang="scss">
  @import '../scss/gitlab-ui.scss';

	@mixin gl-tmp-button-hover($border-color, $background-color) {
		box-shadow: inset 0 0 0 $gl-border-size-2 $border-color,
			0 $gl-border-size-2 $gl-border-size-2 0 rgba(0, 0, 0, 0.08);
		background: $background-color;
	}

  :host {
    @include gl-display-inline-flex;

    &:focus,
    &:active,
    &:focus:active {
      @include gl-text-decoration-none;
    }
  }

  :host .control {
    @include gl-border-0;
    @include gl-py-3;
    @include gl-px-4;
    @include gl-bg-transparent;
    @include gl-line-height-normal;
    @include gl-text-gray-900;
    @include gl-fill-current-color;
    @include gl-inset-border-1-gray-200;
    @include gl-justify-content-center;
    @include gl-align-items-center;
    @include gl-font-base;
    @include gl-rounded-base;

		display: inline-flex;

		&.icon-only .content {
			@include gl-h-5;
			@include gl-w-5;
			@include gl-flex-shrink-0;
		}

		&[variant="default"] {
			@include gl-bg-white;

			&:hover {
				@include gl-tmp-button-hover($gray-400, $gray-50);

				// .gl-icon {
				// 	@include gl-text-gray-700;
				// }
			}

			&:focus {
				@include gl-focus($color: $gray-400);
				@include gl-bg-gray-50;

				// .gl-icon {
				// 	@include gl-text-gray-700;
				// }
			}

			&:active,
			&.active {
				@include gl-focus($color: $gray-600);
				@include gl-bg-gray-100;

				.gl-icon {
					@include gl-text-gray-900;
				}

				&:focus {
					@include gl-focus($color: $gray-600);
				}

				// &:focus .gl-icon {
				// 	@include gl-text-gray-900;
				// }
			}

			.gl-icon {
				@include gl-text-gray-500;
			}
		}

		&[variant="confirm"],
		&[variant="info"],
		&[variant="success"],
		&[variant="danger"] {
			@include gl-text-contrast-light;
		}

		&[variant="confirm"],
		&[variant="info"] {
			@include gl-bg-blue-500;
			@include gl-inset-border-1-blue-600;

			&:hover {
				@include gl-tmp-button-hover($blue-800, $blue-600);
			}

			&:focus {
				@include gl-focus($color: $blue-800);
				@include gl-bg-blue-600;
			}

			&:active,
			&.active {
				@include gl-focus($color: $blue-900);
				@include gl-bg-blue-700;

				&:focus {
					@include gl-focus($color: $blue-900);
				}
			}
		}

		&[variant="success"] {
			@include gl-bg-green-500;
			@include gl-inset-border-1-green-600;

			&:hover {
				@include gl-tmp-button-hover($green-800, $green-600);
			}

			&:focus {
				@include gl-focus($color: $green-800);
				@include gl-bg-green-600;
			}

			&:active,
			&.active {
				@include gl-focus($color: $green-900);
				@include gl-bg-green-700;

				&:focus {
					@include gl-focus($color: $green-900);
				}
			}
		}

		&[variant="danger"] {
			@include gl-bg-red-500;
			@include gl-inset-border-1-red-600;

			&:hover {
				@include gl-tmp-button-hover($red-800, $red-600);
			}

			&:focus {
				@include gl-focus($color: $red-800);
				@include gl-bg-red-600;
			}

			&:active,
			&.active {
				@include gl-focus($color: $red-900);
				@include gl-bg-red-700;

				&:focus {
					@include gl-focus($color: $red-900);
				}
			}
		}

		&[disabled],
		&[disabled]:hover,
		&[disabled]:focus,
		&[disabled]:active,
		&[disabled].selected {
			@include gl-bg-gray-10;
			@include gl-text-gray-500;
			@include gl-inset-border-1-gray-100;
			@include gl-opacity-10;
			cursor: not-allowed !important;

			// .gl-button-icon {
			// 	@include gl-fill-gray-400;
			// }
		}
  }

	.start,
	.content,
	.end {
		align-self: center;
		display: flex;
	}

	.start {
		margin-inline-end: $gl-spacing-scale-2;;
	}

	.end {
		margin-inline-start: $gl-spacing-scale-2;;
	}
</style>
