<script lang="ts">
import { defineComponent, PropType } from 'vue';
import icons from '@gitlab/svgs/dist/icons.svg';

export default defineComponent({
  props: {
		name: {
			type: String,
			required: true,
		},
		ariaLabel: {
      type: String,
      required: false,
      default: undefined,
    },
	},
	computed: {
    href() {
      return `${icons}#${this.name}`;
    },
	}
});
</script>

<template>
  <svg
		class="control"
    :key="href"
    role="img"
    :aria-hidden="!ariaLabel"
    :aria-label="ariaLabel"
  >
    <use :href="href" />
  </svg>
</template>

<style lang="scss">
  :host .control {
		fill: currentColor;
		height: 1rem;
		width: 1rem;
	}
</style>
